apiVersion: serving.kserve.io/v1beta1
kind: InferenceService
metadata:
  name: granite-4-micro
  namespace: model-deploy-lab
  annotations:
    openshift.io/display-name: "Granite 4.0 Micro"
    serving.kserve.io/deploymentMode: RawDeployment
    # UPDATED: Matches the name created by the template command
    serving.kserve.io/runtime: vllm-cuda-runtime
spec:
  predictor:
    serviceAccountName: granite-sa
    model:
      modelFormat:
        name: vLLM
      # UPDATED: Matches the name created by the template command
      runtime: vllm-cuda-runtime
      
      storageUri: s3://models/granite4

      resources:
        requests:
          cpu: "4"
          memory: "12Gi"
          nvidia.com/gpu: "1"
        limits:
          cpu: "4"
          memory: "16Gi"
          nvidia.com/gpu: "1"

      args:
        - "--model"
        - "/mnt/models" 
        - "--port"
        - "8080"
        - "--max-model-len"
        - "16000"
        - "--gpu-memory-utilization"
        - "0.8"
        - "--distributed-executor-backend"
        - "mp"